<TABLE cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1">
 <TR>
  <TH>SAMBA SHARE</TH>
  <TH>COMMENT</TH>
  <TH>LINUX PATH</TH>
 </TR>
 <TR>
  <TD>home</TD>
  <TD>UNIX Home Directories
</TD>
  <TD>/home/
</TD>
 </TR>
 <TR>
  <TD>winimg</TD>
  <TD>/nfs/lcg/winimg
</TD>
  <TD>/nfs/lcg/winimg
</TD>
 </TR>
 <TR>
  <TD>wsus</TD>
  <TD>/nfs/lcg/wsus
</TD>
  <TD>/nfs/lcg/wsus
</TD>
 </TR>
 <TR>
  <TD>vault</TD>
  <TD>/nfs/grp/vault
</TD>
  <TD>/nfs/grp/vault
</TD>
 </TR>
 <TR>
  <TD>mech-design</TD>
  <TD>/nfs/grp/mech-design
</TD>
  <TD>/nfs/grp/mech-design
</TD>
 </TR>
 <TR>
  <TD>machine</TD>
  <TD>/nfs/grp/machine
</TD>
  <TD>/nfs/grp/machine
</TD>
 </TR>
 <TR>
  <TD>lcgcatalogs</TD>
  <TD>/nfs/lcg/catalogs
</TD>
  <TD>/nfs/lcg/catalogs
</TD>
 </TR>
 <TR>
  <TD>lcginternal</TD>
  <TD>/nfs/lcg/internal
</TD>
  <TD>/nfs/lcg/internal
</TD>
 </TR>
 <TR>
  <TD>distribution</TD>
  <TD>/nfs/ccg/distribution
</TD>
  <TD>/nfs/ccg/distribution
</TD>
 </TR>
 <TR>
  <TD>software</TD>
  <TD>/nfs/lcg/software
</TD>
  <TD>/nfs/lcg/software
</TD>
 </TR>
 <TR>
  <TD>electronics</TD>
  <TD>/nfs/grp/electronics
</TD>
  <TD>/nfs/grp/electronics
</TD>
 </TR>
 <TR>
  <TD>outreach</TD>
  <TD>/nfs/grp/outreach
</TD>
  <TD>/nfs/grp/outreach
</TD>
 </TR>
 <TR>
  <TD>busoff</TD>
  <TD>Business Office
</TD>
  <TD>/nfs/grp/busoff
</TD>
 </TR>
 <TR>
  <TD>stockroom</TD>
  <TD>Business Office Stockroom
</TD>
  <TD>/nfs/grp/stockroom
</TD>
 </TR>
 <TR>
  <TD>user</TD>
  <TD>User
</TD>
  <TD>/nfs/user
</TD>
 </TR>
 <TR>
  <TD>acclibs</TD>
  <TD>/nfs/acc/libs
</TD>
  <TD>/nfs/acc/libs
</TD>
 </TR>
 <TR>
  <TD>accuser</TD>
  <TD>/nfs/acc/user
</TD>
  <TD>/nfs/acc/user
</TD>
 </TR>
 <TR>
  <TD>acctemp</TD>
  <TD>/nfs/acc/temp
</TD>
  <TD>/nfs/acc/temp
</TD>
 </TR>
 <TR>
  <TD>accsrf</TD>
  <TD>/nfs/acc/srf
</TD>
  <TD>/nfs/acc/srf
</TD>
 </TR>
 <TR>
  <TD>vacuum</TD>
  <TD>/nfs/acc/vacuum
</TD>
  <TD>/nfs/acc/vacuum
</TD>
 </TR>
 <TR>
  <TD>cesrta</TD>
  <TD>/nfs/cesrta
</TD>
  <TD>/nfs/cesrta
</TD>
 </TR>
 <TR>
  <TD>ERL_SANDBOX</TD>
  <TD>/nfs/erl/sandbox
</TD>
  <TD>/nfs/erl/sandbox
</TD>
 </TR>
 <TR>
  <TD>ERL_SIM1</TD>
  <TD>/nfs/erl/sim1
</TD>
  <TD>/nfs/erl/sim1
</TD>
 </TR>
 <TR>
  <TD>ERL_RF</TD>
  <TD>/nfs/erl/rf
</TD>
  <TD>/nfs/erl/rf
</TD>
 </TR>
 <TR>
  <TD>ERL_CATH</TD>
  <TD>/nfs/erl/cath
</TD>
  <TD>/nfs/erl/cath
</TD>
 </TR>
 <TR>
  <TD>TEM</TD>
  <TD>/cdat/linux/tem
</TD>
  <TD>/cdat/tem
</TD>
 </TR>
 <TR>
  <TD>TEM2</TD>
  <TD>/cdat/linux/tem2
</TD>
  <TD>/cdat/tem2
</TD>
 </TR>
 <TR>
  <TD>ILC_SIM3</TD>
  <TD>/nfs/ilc/sim3
</TD>
  <TD>/nfs/ilc/sim3
</TD>
 </TR>
 <TR>
  <TD>CESR_ONLINE</TD>
  <TD>/nfs/cesr/online
</TD>
  <TD>/nfs/cesr/online
</TD>
 </TR>
 <TR>
  <TD>CESR_ARCHIVE</TD>
  <TD>/nfs/cesr/archive, /nfs/cesr/offline
</TD>
  <TD>/nfs/cesr/archive
</TD>
 </TR>
 <TR>
  <TD>CESR_OFFLINE</TD>
  <TD>/nfs/cesr/offline, /nfs/cesr/archive
</TD>
  <TD>/nfs/cesr/offline
</TD>
 </TR>
 <TR>
  <TD>grp_ro</TD>
  <TD>/nfs/grp/ro
</TD>
  <TD>/nfs/grp/ro
</TD>
 </TR>
 <TR>
  <TD>grp_ro1</TD>
  <TD>/nfs/grp/ro1
</TD>
  <TD>/nfs/grp/ro1
</TD>
 </TR>
 <TR>
  <TD>grp_ro2</TD>
  <TD>/nfs/grp/ro2
</TD>
  <TD>/nfs/grp/ro2
</TD>
 </TR>
 <TR>
  <TD>cms_sw</TD>
  <TD>/nfs/cms/sw
</TD>
  <TD>/nfs/cms/sw
</TD>
 </TR>
 <TR>
  <TD>erl_erd</TD>
  <TD>/nfs/erl/erd
</TD>
  <TD>/nfs/erl/erd
</TD>
 </TR>
 <TR>
  <TD>safety</TD>
  <TD>Safety
</TD>
  <TD>/nfs/grp/safety
</TD>
 </TR>
 <TR>
  <TD>tech</TD>
  <TD>Tech
</TD>
  <TD>/nfs/grp/tech
</TD>
 </TR>
 <TR>
  <TD>rf</TD>
  <TD>/nfs/acc/rf 
</TD>
  <TD>/nfs/acc/rf
</TD>
 </TR>
 <TR>
  <TD>cosmo</TD>
  <TD>/nfs/grp/cosmo
</TD>
  <TD>/nfs/grp/cosmo
</TD>
 </TR>
 <TR>
  <TD>chess_data1</TD>
  <TD>/nfs/chess/data1
</TD>
  <TD>/nfs/chess/data1
</TD>
 </TR>
 <TR>
  <TD>chess_admin</TD>
  <TD>/nfs/chess/admin
</TD>
  <TD>/nfs/chess/admin
</TD>
 </TR>
 <TR>
  <TD>chess_maia</TD>
  <TD>/nfs/chess/maia
</TD>
  <TD>/nfs/chess/maia
</TD>
 </TR>
 <TR>
  <TD>chess_www</TD>
  <TD>/nfs/chess/www
</TD>
  <TD>/nfs/chess/www
</TD>
 </TR>
 <TR>
  <TD>draft</TD>
  <TD>/nfs/grp/draft
</TD>
  <TD>/nfs/grp/draft
</TD>
 </TR>
 <TR>
  <TD>xbsm</TD>
  <TD>/nfs/acc/xbsm
</TD>
  <TD>/nfs/acc/xbsm
</TD>
 </TR>
 <TR>
  <TD>classe_www</TD>
  <TD>/nfs/classe/www
</TD>
  <TD>/nfs/classe/www
</TD>
 </TR>
 <TR>
  <TD>gm2_data1</TD>
  <TD>/nfs/gm2/data1
</TD>
  <TD>/nfs/gm2/data1
</TD>
 </TR>
 <TR>
  <TD>gm2_hw</TD>
  <TD>/nfs/gm2/hw
</TD>
  <TD>/nfs/gm2/hw
</TD>
 </TR>
 <TR>
  <TD>maintenance</TD>
  <TD>/nfs/grp/maintenance
</TD>
  <TD>/nfs/grp/maintenance
</TD>
 </TR>
</TABLE>